body{
  font-family: 'Noto Sans KR', sans-serif;
}
.main-section{
  height: 534px;
  position:relative;
}

.title-section{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  width: 100%;
}
.title-section img{
  width: 76px;
  height: 76px;
  margin: 0 auto;
  padding-bottom: 16px;
}
h1{
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;

  text-align: center;
  letter-spacing: -2px;

  color: #060029;
  padding-bottom: 24px;
}
span{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -1px;

  color: #060029;
  opacity: .6;
}

.img-slideshow{
  width: 100%;
  height: 336px;
  overflow: hidden;
 
}
.img-slideshow::before{
  content: '';
  width: 100%;
  height: 336px;
  position: absolute;
  z-index: 100;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.28%, #FFFFFF 100%);
}
.img-slideshow ul{
  display: flex;
}
.img-slideshow img{
  width: auto;
  height: 336px;

  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.content-section{
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 112px;
  box-sizing: border-box;
}
.content-section li {
  background: #DDE5FC;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}
.content-section li h2{
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -1px;
  color: #583DF6;
  padding: 32px;
  padding-bottom: 40px;
}
.content-section li img{
  max-width: 269px;
  height: auto;
  margin: 0 auto;
}

.content-section .scroll-list{
  position: relative;
  margin: 0 auto;
  max-width: 269px;
  height: 374px;
}

.content-section .scroll-list video{
  max-width: 249px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 40px 40px 0 0;
}

.content-section .emoji-list{
  height: 440px;
}
.img-group  {
  width: 100%;
  height: 180px;
  display: flex;
  padding-top: 32px;
}
.content-section li .img-group img{
  width: auto;
  max-width: none;
  height: 180px;

  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

button{
  position: fixed;
  bottom: 24px;
  left: 32px;
  right: 32px;
  height: 56px;
  max-width: 688px;
  margin: 0 auto;
  background: #583DF6;
  box-shadow: 0px 8px 24px rgba(88, 61, 246, 0.4);
  border-radius: 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: white;
}